.about{
    min-height: 100vh;
    background: #020617;
    padding: 100px 8%;
}
.about-title{
    color:#F8FAFC;
}

.about-subtitle{
    color:#60A5FA;
}

.about-heading{
    color:#F8FAFC;
}

.about-text{
    color:#94A3B8;
}
.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
}

.about-left{
    flex:1;
}

.about-right{
    flex:1;
    display:flex;
    justify-content:center;
}